 body{
    width: 100%;
    margin: 0;
    padding: 0;
}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
   padding: 5px;
   display: flex;
   background-image: linear-gradient(90deg,#19398a 12%,#1b4c92 50%,#19398a 89%) ;

}

.header img{
    width: 0.7cm;
    height: 1cm;

}
.header h2{
    padding: 5px 0px 5px 10px;
    margin: 0;
    width: min-content;
    font-size: 0.6em;
    color: white;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:20px; ;
}

.cards{
   box-shadow: 0px 2px 1.5px yellow;
   border-radius: 10px;
   text-align: center;
   width: 23%;
   margin: 10px;
}

.card__title {
    margin-top: 1rem;
    font-size: 1.5rem;
    margin: 10px;
    padding:10px;
}

.card__subtitle{
    height: 2rem;
    margin: 1rem;
}

.card__link{
    margin-top: 20px;
    padding: 20px;;
    background-color: transparent;
    font-size: 1em;
    border: none;
    cursor: pointer;
    color: white;
}

.fa{
    background: hsla(0,0%,7%,.35);
    border-radius: 50px;
    color: #e2d612;
    padding: 10px;
    align-items: center;
    margin: 0 15px 0 15px;
}

.cards-csk{
    background: linear-gradient(136deg, rgb(253,185,19), rgb(248,92,0));
    color: white;
}

.cards-di{
    background:  linear-gradient(136deg,#004c93,#0358a7);
    color: white;
}
.cards-kkr{
    background:  linear-gradient(136deg,#70458f,#3d2057);
    color: white;
}
.cards-mi{
    background:  linear-gradient(136deg,#005da0,#003a63);
    color: white;
}
.cards-pix{
    background:  linear-gradient(136deg,#aa4545,#740f0b);
    color: white;
}
.cards-rr{
    background: linear-gradient(136deg,#2d4d9d,#172e5e);
    color: white;
}
.cards-rcb{
    background:  linear-gradient(136deg,#000,#464646);
    color: white;
}
.cards-sh{
    background:  linear-gradient(136deg,#fb643e,#b81c25);
    color: white;
}

.cards img{
    margin-top: -10px;
    height: 3.5cm;
    width: 3.5cm;
}
.card-arrow
{
    display: none !important;
}

@media screen and (max-width:700px) and (min-width:0px){

    .container{
        flex-direction: column;
    }

    .team-card__wins{
        flex: 1;

    }

    .cards{
        width: auto;
        height: 90px;
        margin: 10px;
        display: flex;
    }

    .cards img{
        float: left;
        margin: 5px;
        height: 70px;
        width: 70px;
    }
    .card__title{
        text-align: left;
        font-size: 1rem !important;
        margin: 0;
        padding: 15px 0 10px 0;
        width: max-content;
        height: max-content;
    }
    .card__subtitle{
        display: none;
    }
    .fa {
        padding-left: 8px;
        border-radius: 30px;
        display: block;
        float: left;
        margin: 0 15px 0 0;
    }
    .year{
        font-size: 0.3cm !important; 
    }
    .card__link{
        display: none;

    }
    .card-arrow{
        display: initial !important;
        background: hsla(0,0%,7%,.35);
        border-radius: 0px 50px 50px 0px;
        padding: 37px 0 37px 0;
        cursor: pointer;
        
    }
    
}

@media screen and (max-width:930px) and (min-width:700px){
    .cards{
        width: 45%;
    }

    .card__title{
        font-size: 1rem;

    }
    .card-arrow{
        display: none !important;
    }
}

@media screen and (max-width:1130px) and (min-width:930px){
    .cards{
        width: 30%;
    }

    .card__title{
        font-size: 1rem;

    }

    .card-arrow{
        display: none !important;
    }
}
