*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{  
    display: flex;
    box-sizing: border-box;
    width: 98%;
    height: 70px;
    margin: 14px;
    background-image: linear-gradient(90deg,#19398a 12%,#1b4c92 50%,#19398a 89%) ;
}

#para1{
    margin-left: 50px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: small;
    display: flexbox;
}

img{
    position: fixed;
    float: left;
    height: 40px;
    width: 50px;
    top: 28px;
    padding-left: 25px;
}

.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
.row {
    margin: 25px -5px;
    display: flex;

    flex-wrap: wrap;

    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 640px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    height: 200px;
    width: 250px;
    text-align: center;
    background-color: #f1f1f1;
  }