/* body{
    width: 100%;
    margin: 0;
    padding:0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header{  
    margin: 20px;
    padding: 5px;
    display: flex;
    background-image: linear-gradient(90deg,#19398a 12%,#1b4c92 50%,#19398a 89%) ;
}

.header img
{

    width:1cm ;
    height: 2cm;
}
.header h2{
    padding: 5px 0px 5px 10px;
    margin:0 ;
    width: min-content;
    font-size: 1.3em;
    color:white;
}
 */

 body{
    width: 100%;
    margin: 0;
    padding: 0;
}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
   padding: 5px;
   display: flex;
   background-image: linear-gradient(90deg,#19398a 12%,#1b4c92 50%,#19398a 89%) ;

}

.header img{
    width: 1cm;
    height: 1.7cm;

}

.header h2{
    padding: 5px 0px 5px 10px;
    margin: 0;
    width: min-content;
    font-size: 1.1em;
    color: white;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:20px; ;
}

.cards{
   box-shadow: 0px 2px 1.5px yellow;
   border-radius: 10px;
   text-align: center;
   width: 23%;
   margin: 10px;
}

.card__title {
    margin-top: 1rem;
    font-size: 1.5rem;
    margin: 10px;
    padding:10px;
}

.card__subtitle{
    height: 2rem;
    margin: 1rem 0 2rem;
}

.card__link{
    margin-top: 30px;
    padding: 25px;;
    background-color: transparent;
    font-size: 1em;
    border: none;
    cursor: pointer;
    color: white;
}
.cards-csk{
    background: linear-gradient(136deg, rgb(253,185,19), rgb(248,92,0));
    color: white;
}

.cards-di{
    background:  linear-gradient(136deg,#004c93,#0358a7);
    color: white;
}
.cards-kkr{
    background:  linear-gradient(136deg,#70458f,#3d2057);
    color: white;
}
.cards-mi{
    background:  linear-gradient(136deg,#005da0,#003a63);
    color: white;
}
.cards-pix{
    background:  linear-gradient(136deg,#aa4545,#740f0b);
    color: white;
}
.cards-rr{
    background: linear-gradient(136deg,#2d4d9d,#172e5e);
    color: white;
}
.cards-rcb{
    background:  linear-gradient(136deg,#000,#464646);
    color: white;
}
.cards-sh{
    background:  linear-gradient(136deg,#fb643e,#b81c25);
    color: white;
}

.cards img{
    margin-top: -10px;
}