body{
    width: 100%;
    margin: 0;
    padding: 0;
}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
   padding: 5px;
   display: flex;
   background-image: linear-gradient(90deg,#19398a 12%,#1b4c92 50%,#19398a 89%) ;

}

.header img{
    width: 0.7cm;
    height: 1cm;

}

.header h2{
    padding: 5px 0px 5px 10px;
    margin: 0;
    width: min-content;
    font-size: 0.6em;
    color: white;

}

.team-header{
    background-position: 100% 0;
    background-size: auto 100%;
    position: relative;
    height:300px;
    margin-bottom: 30px;
  }
  .team-header.csk{
      background-image: url(./images/CSK-huddle.png); 
      background-repeat: no-repeat;
  }
  .team-header.csk .team-header-overlay{
      background:#fdb913;  
  }
  .team-header.dc{
      background-image: url(./images/DC-huddle.png); 
      background-repeat: no-repeat;
  }
  .team-header.dc .team-header-overlay{
      background:#004c93;
  }
  .team-header.pk{
      background-image: url(./images/PK-huddle.png); 
      background-repeat: no-repeat;
  }
  .team-header.pk .team-header-overlay{
      background: #b32524;
  }
  .team-header.kkr{
      background-image: url(./images/KKR-huddle.png); 
      background-repeat: no-repeat;
  }
  .team-header.mi{
      background-image: url(./images/MI-huddle.png); 
      background-repeat: no-repeat;
  }
  .team-header.mi .team-header-overlay{
      background: #005ea0;
  }
  .team-header.rr{
      background-image: url(./images/RR-huddle.png); 
      background-repeat: no-repeat;
  }
  .team-header.rr .team-header-overlay{
      background: #004b8c;
  }
  .team-header.rcb{
      background-image: url(./images/RCB-huddle.png); 
      background-repeat: no-repeat;
  }
  .team-header.rcb .team-header-overlay{
      background: #000;
  }
  .team-header.srh{
      background-image: url(./images/SRH-huddle.png); 
      background-repeat: no-repeat;
  }
  .team-header.srh .team-header-overlay{
      background:#fb653f;   
  }
  .team-header .team-header-overlay{
      bottom: 0;
      clip-path: polygon(0 0,93% 0,100% 100%,0 100%);
      position: absolute;
      left: 0;
      top: 0;
      width: 60%;
      z-index: 5;
  }
  .team-header .team-header-overlay-img{
      background-size: cover;
      background-repeat: no-repeat;
  }
  .team-header.csk .team-header-overlay-img{
     background-image : url(./images/CSK.jpg);
     opacity: 0.2;
  }
  .team-header.dc .team-header-overlay-img{
      background-image : url(./images/DC.jpg);
      opacity: 0.2;
   }
   .team-header.pk .team-header-overlay-img{
      background-image : url(./images/PBKS.jpg);
      opacity: 0.2;
   }
   .team-header.kkr .team-header-overlay-img{
      background-image : url(./images/KKR.jpg);
      opacity: 0.2;
   }
   .team-header.mi .team-header-overlay-img{
      background-image : url(./images/MI.jpg);
      opacity: 0.2;
   }
   .team-header.rr .team-header-overlay-img{
      background-image : url(./images/RR.jpg);
      opacity: 0.2;
   }
   .team-header.rcb .team-header-overlay-img{
      background-image : url(./images/RCB.jpg);
      opacity: 0.2;
   }
   .team-header.srh .team-header-overlay-img{
      background-image : url(./images/SRH.jpg);
      opacity: 0.2;
   }
  .team-header .team-header-overlay .team-header-overlay-img{
      content: "";
      display: inline-block;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
  }
  .team-header::after{
         
          bottom: 0;
          content: "";
          clip-path: polygon(0 0,90.1% 0,100% 100%,0 100%);
          left: 0;
          position: absolute;
          width: 63%;
          top: 0;
  }
  .csk::after{
      background: linear-gradient(#0081e5 60%,#005699);
  }
  .dc::after{
      background: linear-gradient(#f83430 60%,#d40b07);
  }
  .pk::after{
      background: linear-gradient(#c7c8ca 60%,#a0a1a5);
  }
  .kkr::after{
      background: linear-gradient(#efb04c 60%,#db8e14);
  }
  .mi::after{
      background: linear-gradient(#aa9a7f 60%,#857458);
  }
  .rr::after{
      background: linear-gradient(#d5ab4b 60%,#ab8328);
  }
  .rcb::after{
      background: linear-gradient(#ff3245 60%,#e50015);
  }
  .srh::after{
      background: linear-gradient(#fdb913 60%,#c28a02);
  }

.team-page-header{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

.team-page-header img{
    margin: 20px;
}

.card__title{
    font-size: 2rem;
}

ul{
    list-style: none;
    padding: 0;
}

.card__subtitle li{
    margin: 10px 0;
    padding: 3px;

}

.card__subtitle li strong{
    display: inline-block;
    margin-left: 2rem;
    
}

.players-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playercard{
    width: 20%;
    text-align: center;
    margin: 10px;
    border: 1px groove grey;
    border-radius: 10px;
}

.playercard img{
    width: 100%;
    border-radius: 10px;
}

.team-card-image.image-csk{
    background: linear-gradient( 134deg,#fdb913,#f85c00);
}
.team-card-image.image-dc{
    background: linear-gradient( 134deg  ,#004c93,#0358a7);
    
}
.team-card-image.image-pk{
    background: linear-gradient(134deg,#aa4545,#740f0b);
}
.team-card-image.image-kkr{
    background: linear-gradient(134deg,#70458f,#3d2057);
}
.team-card-image.image-mi{
    background: linear-gradient(134deg,#005da0,#003a63);
}
.team-card-image.image-rr{
    background: linear-gradient(134deg,#2d4d9d,#172e5e);
}
.team-card-image.image-rcb{
    background: linear-gradient(134deg,#000,#464646);
}
.team-card-image.image-srh{
    background: linear-gradient(134deg,#fb643e,#b81c25);
}

.data{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.value{
    margin: 0;
    padding: 0;
    font-size: x-large;
}

.label{
    margin: 0;
    padding: 0;

}

@media screen and (max-width:500px) and (min-width:0px) {
    .playercard{
        width: 80%;
    }
    
}

@media screen and (max-width:900px) and (min-width:500px) {
    .playercard{
        width: 40%;
    }
    
}