body{
    width: 100%;
    margin: 0;
    padding: 0;
}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
   padding: 5px;
   display: flex;
   background-image: linear-gradient(90deg,#19398a 12%,#1b4c92 50%,#19398a 89%) ;

}

.header img{
    width: 0.7cm;
    height: 1cm;

}

.header h2{
    padding: 5px 0px 5px 10px;
    margin: 0;
    width: min-content;
    font-size: 0.6em;
    color: white;

}

.team-page-header{
    background-image: url(images/CSK-huddle.png);
    height: 10cm;
    display: flex;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-bottom: 30px;
    position: relative;
}

.team-info img{
    float: left;
    margin: 3rem 4rem 0 1rem;
    height: 5cm;
}

.card__title{
    font-size: 3rem;
}

.players-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playercard{
    width: 20%;
    text-align: center;
    margin: 10px;
    border: 1px groove grey;
    border-radius: 10px;
}

.playercard img{
    background: linear-gradient(136deg, rgb(253,185,19), rgb(248,92,0));
    width: 100%;
    border-radius: 10px;
}

.data{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.value{
    margin: 0;
    padding: 0;
    font-size: x-large;
}

.label{
    margin: 0;
    padding: 0;

}